@import "tailwindcss";


@theme default {
  --color-primary: #A4CCD9;
  --color-secondary: #97B6BD;
}

.animate-popIn {
  animation: popIn 0.3s ease-out;
}

@keyframes popIn {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}